* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {

    list-style: none;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.nav__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link {
    color: #000;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    padding: 37px;
    display: inline-block;
    transition: 0.2s;
}

.nav__link:hover {
    background: #fff;
    color: plum;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__form {
    width: auto;
}

.header__search {
    border-radius: 5px;
    border: 1px solid #d37cdf;
    background: #F0F0F0;
    padding: 9px 10px;
    outline: none;
    font-size: 18px;
    line-height: 18px;
    width: 661px;
    height: 46px;
}

.header__logo {
    display: flex;
    column-gap: 10px;
}

.header__img {
    padding-top: 44px;
}

.main__content {
    padding-top: 71px;
    display: flex;
    justify-content: center;
}

.main__list {
    display: flex;
    column-gap: 70px;
}

.main__link {
    color: #000;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;
}

.main__link:hover {
    color: plum;
}

.photo {
    display: flex;
    column-gap: 20px;
}

.title {
    color: #000;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 600;
}

.main__text1 {
    color: #000;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 20px;
}

.for__text {
    display: flex;
    flex-direction: column;
}

.main__text {
    color: #000;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 400;
}

.for__new-text {
    position: relative;
    bottom: 33px;
    left: 8px;
}

.main__left-img {
    position: relative;
    bottom: 18px;
    left: 5px;
}

.main__right-img {
    width: 219px;
    height: 281px;
    max-width: fit-content;
}

.main__right-img1 {
    position: relative;
    bottom: 18px;
    left: 5px;
}

.main__content {
    display: flex;
    column-gap: 30px;
    transform: translate(-20px);
}

.main__content-two {
    display: flex;
    justify-content: space-around;
    padding: 35px;
}

.title {
    color: #000;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-top: 25px;
}

.main__content-three {
    display: flex;
    gap: 30px;
    padding: 50px;
}

.main__text2 {
    color: #000;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.main__text2:hover {
    color: #d37cdf;
}

.main__content-four {
    display: flex;
    gap: 30px;
    padding: 30px;
}

.main__content-five {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 89px;
}

.main__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main__content-six {
    padding-top: 100px;
}

.main__images-1 {
    position: relative;
    bottom: 330px;
    left: 8px;
}

.main__images-2 {
    position: relative;
    bottom: 260px;
}

.main__images-3 {
    position: relative;
    bottom: 330px;
}

.main__images-4 {
    position: relative;
    bottom: 260px;
}

.footer__link {
    color: #242424;
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 400;
}

.footer__link-two {
    color: #242424;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 300;
}

.call {
    color: #242424;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 600;
}

.mail {
    color: #242424;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 600;
}

.footer__text {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 200px;

}

.footer__image {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 140px;
}

.footer__data {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 100px;
}

.footer_text {
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
}

.footer__last-text{
    display: flex;
    justify-content: center;
}